{% extends "base.html" %}
{% block content %}
<form action="/edit" id="inputCalendar" method="POST">
    <div class="container-fluid">
        <div class="container-sm">
            <div class="row justify-content-md-left">
                <div class="col-md-auto">
                    <div class="mb-3">
                        <!-- work on this -->
                        <label for="inputCalendar" class="form-label">Please choose a date</label>
                        <input type="date" class="form-control" name="user_date" id="user_date">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}