{% extends "base.html" %}
{% block content %}
<form action="/edit" id="inputCalendar" method="POST">
    <div class="container-fluid">
        <div class="container-sm">
            <div class="row justify-content-md-left">
                <div class="col-md-auto">
                    <div class="mb-3">
                        <label for="inputCalendar" class="form-label">Please choose a date and time</label>
                        <input type="datetime-local" class="form-control" name="user_datetime" id="user_datetime">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}