{% extends "base.html" %}
{% block content %}
<form action="/validate" id="InputUser" method="POST">
    <div class="container-fluid">
        <div class="col-2">
            <label for="InputUsername" class="form-label" style="padding-top: 25px;">Username</label>
            <input type="user_name" class="form-control" id="InputUsername" name="user_name">
            <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Submit</button>
        </div>
    </div>

</form>

{% endblock %}