{% extends 'base.html' %}
{% block content %}
{% if search_results is not none %}
<div class="container-fluid">
    <div class="row" style="padding-top: 25px;">
        <div class="col-5">
            <table>
                <thead>
                    <tr>
                        <th>event description</th>
                        <th>event date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in events %}
                    <tr>
                        <td><a value="{{ item['event'] }}" class="event-input" id="description-{{ loop.index }}"
                                name="event_description" href="/update/{{ item._id }}">{{ item['event'] }}</a></td>
                        <td><a value="{{ item['date_time'] }}" class="event-input" name="event_datetime"
                                id="datetime-{{ loop.index }}" href="/update/{{ item._id }}">{{ item['date_time']
                                }}</a>
                        </td>
                        <td><button type="submit" class="btn-close" aria-label="Close" value="{{ item._id }}"
                                id="remove_event" name="remove_event">
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}