{% extends 'base.html' %}
{% block content %}
{% if search_results is not none %}
<div class="container-fluid">
    <table>
        <thead>
            <tr>
                <th>event description</th>
                <th>event date</th>
            </tr>
        </thead>
        <tbody>
            {% for result in search_results %}
            <tr>
                <td><input value="{{ result.event }}" class="form-control event-input" id="description-{{ loop.index }}"
                        name="event_description"></td>
                <td><input type="datetime-local" value="{{ result.date_time }}" class="form-control event-input"
                        name="event_datetime" id="datetime-{{ loop.index }}"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock content %}